.site-primary-link {
    display: inline-block;
    padding: 15px 31px;
    font-family: 'Fraunces';
    font-size: 18px;
    line-height: 25px;
    font-weight: 900;
    text-align: center;
    color: #FEFCF7;
    text-decoration: none;
    background: #0E8784;
    border-radius: 6px;
  }
  .site-primary-link:hover{
    color: #FDD6BA;
  }